html
  head
  style.
    p {
      color: red;
      text-decoration: underline
    }
  body
    - const pStyles = {"text-align": "center", "text-transform": "uppercase"};
    p(style=pStyles) This is an HTML file!