doctype html
html
  head
  body
    h1#pageTitle Page Title goes here!
    p.big-para.
          This is some text
          for big paragraph
    p.big-para.
          This is some MORE text
          for big paragraph
    .display-box
    #myOnlyDiv